@charset "UTF-8";
body {background-color: rgb(74, 243, 74); font-family: Georgia,   'Times New Roman', Times, serif;font-size: 16px; text-align: justify;}
        h1 {color: rgb(248, 244, 21); background-color: blue;}
        h2 {color: blue;}