@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
html, body {
    min-height: 100vh;
    background-color: darkgray;
}
header {
    background-color: black;
    color: white;
    text-align: center;
}
header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}
header > p {
    padding-bottom: 50px;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
.normal {
    background-color: white;
}
.imagem {
    background-color: rgb(68, 64, 64);
    color: white;
}
.imagem > p {
    background-color: rgba(0, 0, 0, 0.418);
    width: 400px;
}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
footer {
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
}