@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    background-color: rgb(83, 226, 219)
    ;
}  

header {
    background-color: rgb(2, 190, 2);
}

.navbar {
    background-color: #0a7c4a;
    padding: 15px;
    position: relative;
}

#menu-toggle {
    display: none;
}

.menu-icon {
    width: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.menu-icon span {
    height: 4px;
    background-color: white;
    border-radius: 5px;
}

.menu {
    list-style: none;
    background-color: #0a7c4b05;
    position: absolute;
    top: 60px;
    left: 0px;
    width: 100%;
    display: none;
    border-radius: 10px;
}

.menu li {
    text-align: center;
    padding: 3px;
    font-weight: bold;
    width: 150px;
    
}

h1 {
    padding: 10px;
    text-align: center;
    color: white;
}

menu > ul > li > a {
    display: block;
    padding: 5px;
    text-decoration: none;
    background-color: rgb(39, 138, 39);
    color: white;
    border-radius: 5px;
}

#menu-toggle:checked ~ .menu {
    display: block;
}

@media (min-width: 768px) {
    .menu-icon {
        display: none;
    }

    .menu {
        display: flex;
        position: static;
        justify-content: flex-end;
    }

    .menu li {
        padding: 0 15px;
    }
}

a:hover {
    background-color: rgb(2, 80, 2);
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;

}

h2 {
    padding-bottom: 20px;
}

p {
    text-align: justify;
    /*margin-bottom: 5px;*/
    text-indent: 20px;
    padding: 10px;
}

