@charset "UTF-8";
* {
font-family: Arial, Helvetica, sans-serif;
}
p {
    text-align: justify;
}
body {
    background-image: linear-gradient(to right, #46DDEB, #46EB8A);
}
main {
    background-color: yellow;
    width: auto;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #4675ebf1;
    
}
h1 {
    color: #4675EB;
    text-align: center;
    text-shadow: 1px 1px 2px #46EBC2;
}
h2 {
    color: #46EBC2;
}